h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    place-items: center;
}

img {
    max-width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
    background-color: black; /* Ensures a black "fade" backdrop */
    animation: fadeFromBlack 15s;
  }
  
  /* Fade-in animation */
  @keyframes fadeFromBlack {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeFromBlack 2s ease-in-out; /* Adjust duration and easing */
  }
