@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #2e293a;
    --accent-color: #3d354b;
    --nav-background-color: #5b4965;
    --nav-link-color: #fff;
    --nav-hover-background-color: #71627a;
    --heading-font: 'Josefin Sans', serif;
    --paragraph-font: 'Dosis', serif;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
}

header {
    margin: 0 auto;
    background-color: var(--primary-color);
}

header h1 {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    color: var(--nav-link-color);
}

nav {
    margin: 0 auto;
    background-color: var(--nav-background-color);
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0%;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    font-family: var(--heading-font);
    font-size:x-large;
    text-decoration: none;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    margin: 0 auto;
    border: 1px solid #004040;
    display: grid;
    max-width: 1040px;
}

.card {
    margin: 1rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    position: relative;
    text-align: justify;
}

.card h2 {
    margin: 0;
    padding: 1rem;
    border-radius: 7.5px 7.5px 0 0;
    color: var(--nav-link-color);
    background-color: var(--accent-color);
}

.card p {
    margin: 0 auto;
    padding: 1rem;
    text-align: justify;
}

.card ul{
    margin: 1rem 1rem;
}

.card li {
    padding: 1rem;
}

.card h3 {
    margin: 1rem;
    padding: 3rem 1rem 1rem;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
}

.profile {
    float: right;
    width: 200px;
    height: 200px;
    margin: 1rem;
}

figure {
    margin: 1rem;
    float: left;
}
figcaption {
    text-align: center;
    
}

.flag {
    width: 200px;
    height: 105px;
}

footer {
    padding: 1rem;
    background-color: var(--accent-color);
}

footer p {
    place-items: center;
    text-align: center;
    color: var(--nav-link-color);
}

/* Larger Resolution */
@media (min-width: 640px){
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    main {
        display: flex;
        justify-content: space-around;
    }
    
    .card h2 {
        white-space: nowrap;
    }

    .card h3 {
        padding: 7rem 1rem 1rem;
    }

    .card ul {
        position:absolute;
        top: 35%;
    }
}