@media (min-width: 640px){
    
    header, main, footer {
        margin: 0 auto;
        max-width: 1040px;
        text-align: center;
    }
    #menu {
        display: none;
    }
    .navi {
        flex-direction: row;
    }

    .navi a {
        display: block;
        flex: 1 1 100%;
    }

    
}